<% include header %>
        <section id="index">
            <h1>Microstamp Timeservice</h1>
            <h1>Usage Example:</h1>
            <p><span>Natural - </span>https://timestamp14.herokuapp.com/April%2009,%202017</p><br>
            <p><span>Unix - </span>https://timestamp14.herokuapp.com/1491725582344</p>
            <h1>Output</h1>
            <p>{"unix": 1491725582344, "natural": "April 09, 2017"}</p>
        </section>
<% include footer %>